.fun-at-work-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 90px;
  background-color: #2F4794;
  color: white;
  position: relative;
}

.images-container {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.image-wrapper {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5); /* White shadow effect */ /* White shadow effect */
  position: absolute;
}


.image1 {
  width: 250px;
  
  height: 280px;
  top: 0;
  left: 0;
}

.image2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 200px; /* Adjust based on your desired spacing */
  left: 260px; /* Adjust to ensure it overlaps with image1 */
}

.image3 {
  width: 120px;
  height: 190px;
  top: 10px; /* Adjust to align with image1 */
  left: 400px; /* Adjust to overlap with image2 */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  max-width: 600px;
  margin-left: 650px; /* Adjusted to match the image layout */
  text-align: left;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
}
